body,
html {
  background-color: white;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.top-section-wrapper {
  background-color: #001d37;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
}

.top-section {
  color: white;
  margin: 0 auto;
  max-width: 1066px;
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
}

.actual-top-content {
  position: relative;
  z-index: 2;
}

.top-section h1 {
  font-size: 4rem;
  line-height: 97.3%;
  margin: 0;
  max-width: 525px;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.intro-buttons {
  margin-bottom: 70px;
}

.our-btn {
  background-color: #475aff;
  border: 2px solid #475aff;
  border-radius: 1000px;
  color: #fff;
  display: inline-block;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 13px 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-out, border 0.3s ease-out,
    color 0.3s ease-out;
}

.our-btn:hover {
  background-color: #2e40e2;
  border: 2px solid #2e40e2;
}

.our-btn--outline {
  background-color: transparent;
  border: 2px solid white;
}

.our-btn--outline:hover {
  background-color: white;
  border: 2px solid white;
  color: #475aff;
}

.utility-mr {
  margin-right: 10px;
}

.intro-feature {
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 33px 25px;
}

.intro-feature p {
  font-size: 1.0625rem;
  margin: 0;
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 3px 0;
}

.intro-features {
  column-gap: 16px;
  display: grid;
  row-gap: 16px;
}

@media screen and (min-width: 580px) {
  .intro-features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .intro-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.circle {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: #d660ff;
  border-radius: 50%;
  filter: blur(150px);
  height: 617px;
  opacity: 0.85;
  perspective: 1000;
  -webkit-perspective: 1000;
  position: absolute;
  right: -390px;
  top: 62px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  width: 617px;
}

.circle-two {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: #6079ff;
  border-radius: 50%;
  filter: blur(150px);
  height: 617px;
  left: -123px;
  opacity: 0.85;
  perspective: 1000;
  -webkit-perspective: 1000;
  position: absolute;
  top: -365px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  width: 617px;
}

.page-section {
  background-color: #fff;
  padding: 70px 16px;
}

.page-section-inner {
  margin: 0 auto;
  max-width: 1066px;
}

.page-section-title {
  font-size: 4rem;
  line-height: 1;
  margin: 0;
}

.pet-filter {
  color: #9f9f9f;
  font-size: 1.15rem;
}

.pet-filter button {
  background-color: transparent;
  border: none;
  color: #9f9f9f;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
}

.pet-filter button:hover {
  color: #7d7d7d;
}

.pet-filter .active,
.pet-filter .active:hover {
  color: #475aff;
  text-decoration: underline;
}

.site-footer p {
  color: #a6a6a6;
  font-size: 0.875rem;
  margin: 0;
  padding: 0 0 65px 0;
  text-align: center;
}

.site-footer .logout-text {
  padding: 0;
}

.site-footer .logout-text a:link,
.site-footer .logout-text a:visited {
  background-color: transparent;
  border: none;
  color: #a6a6a6;
  font-family: inherit;
  text-decoration: underline;
}

.site-footer .footer-nav {
  font-size: 0.95rem;
  padding: 0;
}

.generic-page-content p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.footer-nav a {
  color: #a6a6a6;
  margin: 0 12px;
}

.list-of-pets {
  column-gap: 34px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  row-gap: 16px;
}

.pet-card {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 165px 1fr;
  overflow: hidden;
}

.pet-card-photo {
  grid-row: 1;
  order: 1;
}

.pet-card-photo img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.pet-card-text {
  padding: 18px 16px;
}

.pet-card-text h3 {
  font-size: 1.625rem;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.pet-description {
  color: #626262;
  font-size: 0.9rem;
  line-height: 150%;
  margin: 0 0 1rem 0;
}

.pet-age {
  color: #a2a2a2;
  font-size: 0.85rem;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .pet-description {
    font-size: 1rem;
  }

  .pet-card-text {
    padding: 21px 29px;
  }

  .list-of-pets {
    row-gap: 28px;
  }

  .pet-filter {
    font-size: 1.375rem;
  }

  .pet-filter button {
    font-size: 1.375rem;
  }

  .page-section-title {
    font-size: 5.31rem;
  }

  .page-section {
    padding: 130px 16px;
  }

  .intro-buttons {
    margin-bottom: 129px;
  }

  .top-section h1 {
    font-size: 6.25rem;
  }

  .top-section {
    padding-bottom: 139px;
    padding-top: 139px;
  }
}

/* Admin Pages CSS */
.form-field {
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  margin: 0 0 16px 0;
  padding: 10px 12px;
  width: 100%;
}

textarea.form-field {
  height: 150px;
  resize: none;
}

.mb-big {
  margin-bottom: 25px;
}

.small-link {
  color: #999;
  display: inline-block;
  font-size: 0.8rem;
  position: relative;
  z-index: 3;
}

.action-btn {
  background-color: transparent;
  border: none;
  color: #475aff;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  margin: 0 10px 0 0;
  padding: 0;
  text-decoration: none;
}

.action-btn:last-child {
  margin-right: 0;
}

.action-btn:hover {
  color: #2030bc;
  text-decoration: underline;
}

.add-pet-btn {
  background-color: rgb(19, 130, 19);
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0 30px 0;
  padding: 13px 18px;
  text-decoration: none;
  vertical-align: middle;
}

.add-pet-btn svg {
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.add-pet-btn:hover {
  background-color: rgb(13, 105, 13);
}

.still-loading .pet-card-photo,
.still-loading .pet-card-text {
  opacity: 0;
}

.still-loading .pet-card {
  background-color: #b9b9b9;
}

@keyframes loadingflashing {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.4;
  }
}

.still-loading {
  animation: 0.6s loadingflashing ease-in-out alternate infinite;
}

.form-is-loading .form-field {
  background-color: #b9b9b9;
  border: 1px solid #b9b9b9;
  color: #b9b9b9;
}

.form-is-loading .form-field::placeholder {
  color: #b9b9b9;
}

.form-is-loading {
  animation: 0.6s loadingflashing ease-in-out alternate infinite;
}

.photo-preview {
  margin-bottom: 26px;
}

.photo-preview img {
  display: block;
  height: auto;
  max-width: 190px;
}

.flash-message {
  background-color: rgb(255, 212, 212);
  border-radius: 20px;
  color: rgb(111, 0, 0);
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
  padding: 10px 16px;
}

/* Contact Form Styles */
.form-overlay {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(1.2);
  transition: all 0.33s ease-out;
  visibility: hidden;
  z-index: 100;
}

.form-overlay--is-visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.form-overlay-inner {
  align-self: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
  display: grid;
  flex: 1;
  grid-template-columns: 1fr;
  margin: 16px;
  max-width: 880px;
  position: relative;
}

.form-photo {
  grid-row: 1;
  height: 200px;
  order: 1;
  position: relative;
}

.form-content {
  padding: 38px 30px;
}

@media screen and (min-width: 745px) {
  .form-overlay {
    align-content: center;
    display: flex;
    justify-content: center;
  }

  .form-content {
    padding: 38px 54px;
    position: relative;
  }

  .form-overlay-inner {
    grid-template-columns: 340px 1fr;
  }

  .form-photo {
    height: auto;
  }
}

.form-photo p {
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.63);
  bottom: 0;
  color: #555;
  font-size: 0.9375rem;
  left: 0;
  line-height: 1.2;
  margin: 0;
  padding: 16px 25px;
  position: absolute;
  right: 0;
}

.form-photo p strong {
  color: #000;
  display: block;
  font-size: 2.25rem;
  font-weight: normal;
}

.form-photo img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.close-form-overlay {
  color: rgba(0, 0, 0, 0.41);
  cursor: pointer;
  font-size: 2.25rem;
  opacity: 0.7;
  position: absolute;
  right: 12px;
  top: 0;
  transform: scaleX(1.2);
  z-index: 101;
}

.close-form-overlay:hover {
  opacity: 1;
}

.pet-contact-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0 0 12px;
  opacity: 0.7;
  outline: none;
  padding: 0;
  position: relative;
  top: 4px;
}

.pet-contact-btn:hover {
  opacity: 1;
}

.thank-you {
  align-content: center;
  background-color: #fff;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease-out;
  visibility: hidden;
  z-index: 102;
}

.thank-you--visible {
  opacity: 1;
  visibility: visible;
}

.thank-you p {
  align-self: center;
  font-size: 1.4rem;
}

.thank-you svg {
  color: rgb(12, 189, 12);
  margin-right: 4px;
  position: relative;
  top: 4px;
}

.contact-list {
  border-collapse: collapse;
  width: 100%;
}

.contact-list th,
.contact-list td {
  padding: 10px;
  vertical-align: top;
}

.contact-list th {
  color: #7d7d7d;
  font-size: 0.87rem;
  font-weight: normal;
  padding: 0 10px;
  text-align: left;
}

.contact-list td {
  font-size: 1rem;
}

.contact-list tr:nth-child(even) {
  background-color: #f1f1f1;
}

/* Chat Related CSS */
.open-chat {
  background-color: white;
  border: 1px solid grey;
  border-radius: 18px;
  bottom: 16px;
  cursor: pointer;
  display: flex;
  height: 36px;
  position: fixed;
  right: 30px;
  width: 36px;
  z-index: 80;
}

.open-chat svg {
  margin: auto;
}

.chat-container {
  background-color: white;
  bottom: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 420px;
  opacity: 0;
  position: fixed;
  right: 20px;
  transform: translateY(100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out,
    visibility 0.3s ease-out;
  visibility: hidden;
  width: 290px;
  z-index: 90;
}

.chat-container--visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.chat-log {
  flex: 1;
  overflow-y: auto;
  padding: 10px 14px;
}

.chat-title-bar {
  background-color: #5061f6;
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
}

.chat-title-bar h4 {
  color: white;
  font-size: 1.1rem;
  margin: 0;
}

.chat-title-bar svg {
  color: white;
  cursor: pointer;
  position: relative;
  top: 3px;
}

.chat-message {
  display: flex;
  margin: 0 70px 5px 0;
}

.chat-message-inner {
  background-color: #afafaf;
  border-radius: 16px;
  color: white;
  font-size: 0.85rem;
  padding: 10px 14px;
}

.chat-message--self .chat-message-inner {
  background-color: #5061f6;
}

.chat-message--self {
  justify-content: flex-end;
  margin: 0 0 5px 70px;
}

.chat-container input {
  border: none;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 0.85rem;
  outline: none;
  padding: 10px;
  width: 100%;
}

.chat-unread-badge {
  background-color: red;
  border-radius: 20px;
  color: white;
  line-height: 1;
  padding: 2px 6px;
  position: absolute;
  right: -5px;
  top: -5px;
}
